<!DOCTYPE html>
<html lang="es">


<head>

{% load static %}

<meta charset="UTF-8">
<title>Login</title>

<script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

<div class="min-h-screen flex items-center justify-center p-4">

<div class="w-full max-w-4xl bg-white border-2 border-black flex flex-col md:flex-row overflow-hidden">

<div class="md:w-1/2 bg-gray-100 p-12 flex flex-col items-center justify-center border-b-2 md:border-b-0 md:border-r-2 border-black">

<div>
  <span class="font-bold text-8xl text-gray-500">VAK</span>
</div>

<h2 class="text-2xl font-bold uppercase text-center mb-4">
Aprende a tu manera
</h2>

<p class="text-center text-sm text-gray-600 max-w-xs">
Plataforma adaptativa para el aprendizaje visual, auditivio o kinestésico.
</p>

</div>

<div class="md:w-1/2 p-12 flex flex-col justify-center bg-white">

<h1 class="text-3xl font-bold mb-8 uppercase tracking-tighter">
Iniciar Sesión
</h1>

<div class="space-y-6">

<div class="space-y-2">

<label class="text-xs font-bold uppercase tracking-wider">
Usuario / Correo
</label>

<input
type="text"
class="w-full h-12 border-2 border-black px-4 bg-gray-50"
placeholder="Usuario"
>

</div>

<div class="space-y-2">

<div class="flex justify-between">

<label class="text-xs font-bold uppercase tracking-wider">
Contraseña
</label>

</div>

<input
type="password"
class="w-full h-12 border-2 border-black px-4 bg-gray-50"
placeholder="••••••••"
>

</div>

<button
onclick="onLogin()"
class="w-full h-14 bg-black text-white font-bold border-2 border-black text-lg hover:bg-gray-800"
>
INICIAR SESIÓN
</button>

<div class="pt-6 text-center border-t-2 border-dashed border-gray-200">

<p class="text-sm">
¿No tienes una cuenta?

<button onclick="onStartQuiz()" class="font-bold underline hover:text-blue-600">
Regístrate y descubre tu estilo
</button>

</p>

</div>

</div>

</div>

</div>

</div>

<script src="{% static 'js/login.js' %}"></script>

</body>
</html>